backend/app/n8n_v2.json
{
    "name": "My workflow 2",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-site",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "8a5703b0-03ad-46cc-85ff-46fc10a4f348",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -560,
          -336
        ],
        "webhookId": "ae5e1ef1-b354-4798-8408-51f919da6a0a"
      },
      {
        "parameters": {
          "functionCode": "const html = $json.files && $json.files[\"index.html\"] ? $json.files[\"index.html\"] : \"\";\nif (!html) {\n  console.error(\"Prepare Files: index.html not found in input\", $json);\n  return [{ json: { error: \"index.html not found in input\", details: $json } }];\n}\nreturn [{\n  json: {\n    files: {\n      \"index.html\": html\n    }\n  }\n}];"
        },
        "id": "8b043d82-0a63-4738-a7d2-0793eee40c29",
        "name": "Prepare Files",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          192,
          -336
        ]
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "https://api.vercel.com/v13/deployments",
          "jsonParameters": true,
          "options": {}
        },
        "id": "32765c5e-a240-42c1-bce9-d727e21dd0d8",
        "name": "Deploy to Vercel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          336,
          -336
        ],
        "httpRequestOptions": {
          "headers": {
            "Authorization": "Bearer aZAgB1xo8sICgf5j7jdlPgnP"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "7002ed47-daec-4dac-8504-8babfa398534",
        "name": "Send Hosted URL",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          480,
          -336
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.description }}",
          "options": {
            "systemMessage": "You are an expert web developer. Given a project description, return ONLY the HTML code for the website in this EXACT JSON format:\n\n{\n  \"files\": {\n    \"index.html\": \"<FULL HTML CODE>\"\n  }\n}\n\n•⁠  ⁠Do NOT include any explanations, comments, or extra text.\n•⁠  ⁠Do NOT change the property names or structure.\n•⁠  ⁠Do NOT include markdown, code fences, or any formatting other than the JSON object above.\n•⁠  ⁠If you cannot generate the HTML, return:\n  {\n    \"files\": {\n      \"index.html\": \"\"\n    }\n  }\n•⁠  ⁠Your response MUST be valid JSON and must match the structure above exactly."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.1,
        "position": [
          -272,
          -336
        ],
        "id": "3abcd56b-da73-438a-87dc-b07cd35306b0",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -272,
          -144
        ],
        "id": "dbf76e07-6690-4571-bcb2-6b264422683d",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "odcPPcHmCHbnELtz",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          -144,
          -144
        ],
        "id": "061b3147-5a23-4ba0-9fa6-a05fa20780b8",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "aSnobyVKf15MKwc5",
            "name": "Postgres account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "toolDescription": "AI Agent for the client website",
          "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
          "options": {
            "systemMessage": "You have complete access to the data in the website and the details given by the client/ super user. Based on the information - respond accordingly to the users queries."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 2.2,
        "position": [
          -16,
          -32
        ],
        "id": "4dc8c9db-4e69-411d-9b39-51af3c529f2c",
        "name": "AI Agent Tool",
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -16,
          144
        ],
        "id": "d3276f17-e6cc-46b8-8518-a1b155b48ea4",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "odcPPcHmCHbnELtz",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "tableName": "client_rag_context"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          128,
          144
        ],
        "id": "03e7e0e5-bb19-4b8b-a0f8-974e85225093",
        "name": "Postgres Chat Memory1",
        "credentials": {
          "postgres": {
            "id": "aSnobyVKf15MKwc5",
            "name": "Postgres account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "functionCode": "const output = $json;\n\n// Log the raw output for debugging\nconsole.log(\"AI Agent output:\", JSON.stringify(output, null, 2));\n\nif (!output.files || !output.files[\"index.html\"]) {\n  // Log the error for debugging\n  console.error(\"Parse Error: Missing files.index.html in AI Agent output:\", JSON.stringify(output, null, 2));\n  return [\n    {\n      json: {\n        error: \"AI Agent did not return 'files.index.html'\",\n        details: output\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: output\n  }\n];"
        },
        "id": "29015ada-eab3-448d-accf-8322b5cd5acc",
        "name": "Parse AI Output",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          48,
          -336
        ]
      }
    ],
    "pinData": {
      "Webhook": [
        {
          "json": {
            "description": "A modern portfolio website for a freelance web developer with a contact form."
          }
        }
      ]
    },
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Files": {
        "main": [
          [
            {
              "node": "Deploy to Vercel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deploy to Vercel": {
        "main": [
          [
            {
              "node": "Send Hosted URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Parse AI Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Tool",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent Tool",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI Output": {
        "main": [
          [
            {
              "node": "Prepare Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "ab2ee8cc-047b-45c5-98dd-f2d19018a6d0",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "e809c6745eb185fae5182d9813b06467be529b92443478fb9c1242de9059cdda"
    },
    "id": "K566ZZ9C2wW3OIEl",
    "tags": []
  }